h3 {
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}


/*Qui sommes-nous part*/

.presentation-part {
  display: grid;
  width: 45%;
  margin: 110px auto 80px auto;
  text-align:justify;
}

@media(max-width: 1000px) {
  .presentation-part {
    width: 75%;
  }
}

.presentation-part h3 {
  margin-bottom: 60px;
}

.presentation-part p {
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
}

.qui-sommes-nous-paris {
  height: 550px;
  width: 100%;
}





/*logos and datas part*/

.data-and-logo {
  display: flex;
  width: 60%;
  justify-content: space-around;
  margin: 60px auto;
}

@media(max-width: 1000px) {
  .data-and-logo {
    width: 80%;
  }
}

p.data {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
}

.img-data {
  height: 100px;
  display: flex;
  margin: auto;
}

#driver-logo {
  width: 120px;
}

#car-logo {
  width: 130px;
  height: 90px;
  margin-bottom: 10px;
}




/*trust-us clients part*/

.trust-us {
  margin-top: 135px;
}


.trust-us-container {
  background-color: white;
  width: 60%;
  height: 450px;
  margin: 50px auto 100px auto;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0 ;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

@media(max-width: 1000px) {
  .trust-us-container {
    width: 75%;
  }
  #chanel {
    margin-left: 30px;
  }
  #cartier {
    margin-right: 30px;
  }
  #dior {
    margin-left: 30px;
  }
  #weston {
    margin-right: 30px;
  }
}


.col-logo {
  display: flex;
  justify-content: center;
}

#chanel {
  height: 74px;
  width: 120px;
  margin-bottom: 25px;

}

#saint-laurent {
  height: 49px;
  width: 169px;
}

#le-monde {
  width: 155px;
  height: 40px;
}

#accor {
  width: 154px;
  height: 80px;
}

#cartier {
  height: 63px;
  width: 150px;
}

.row {
  display: flex;
  align-items: center;
}

#dior {
  height: 58px;
  width: 130px;
  margin-bottom: 18px;
}

#celine {
  height: 33px;
  width: 144px;
}

#christies {
  height: 64px;
  width: 130px;
}

#regus {
  height: 77px;
    width: 115px;
}

#weston {
  height: 35px;
  width: 162px;
}



 a.contact-button {
  text-decoration: none;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #ABABAB;
  width: fit-content;
  padding: 7px 35px;
  border-radius: 5px;
  display: flex;
  margin: 20px auto 60px auto;
}

@media(max-width: 1000px) {
  a.contact-button {
    font-size: 30px;
    padding: 20px 50px;
  }
}

.contact-button:hover {
  background-color: #a8a6a6;
  font-size: 16.5px;
}

