h3 {
  font-size: 24px;
  font-family: 'Audiowide', cursive;
  text-align: center;
}



/*banner-image*/

.paris-img{
  background-size: cover;
  height: 550px;
}


.paris-img.paris2 {
  background-image:url("../images/paris2-services.png");
  background-position: 50% 50%;
}




/*caroussel */
.cars-div-img {
  height: 400px;
  display: flex;
  align-items: center;
}

#berline {
/*  position: absolute;
  left: 180px;*/
  width: 480px;
  margin-bottom: 20%;
/*  top: 20px;*/
}

#prestige{
  height: 255px;
  width: 360px;
  margin-bottom: 20%;
/*  position: absolute;
  left: 220px;
  top: 30px;*/
}


#honda {
  height: 244px;
  width: 525px;
  margin-bottom: 20%;
/*  position: absolute;
  top: 20px;
  left: 130px;*/
}

#van{
  height: 200px;
  width: 315px;
  margin-bottom: 20%;
/*  position: absolute;
  top: 45px;
  left: 235px;*/
}

#range-rover {
/*    height: 230px;
    width: 350px;
    position: absolute;
    top: 20px;
    left: 30px;*/
    height: 200px;
    width: 300px;
/*    position: absolute;
    top: 75px;
    left: 41px;*/
}

#bus {
  height: 255px;
/*  position: absolute;
  left: 254px;*/
}



#carouselExampleControls {
  width: 80%;
  margin: 50px auto 100px auto;
}

.carousel-inner {
  width: 70%;
  margin: auto;
}

.car-img-and-prices {
  display: flex;
  /*justify-content: space-around;*/
  justify-content: center;
  align-items: center;
}

.car-prices {
  display: flex;
  align-items: center;
}

.cars-title {
  margin-bottom: 50px;
}

.fas.fa-chevron-left{
  color: black;
  font-size: 23px;
}

.fas.fa-chevron-right{
  color: black;
  font-size: 23px;
}




@media (max-device-width: 660px)  {

/*  #berline {
    left: 80px;
  }

  #prestige{
    left: 110px;
  }


  #honda {
    left: 30px;
  }

  #van{
    left: 120px;
  }*/

  #range-rover {
  /*    height: 230px;
      width: 350px;
      position: absolute;
      top: 20px;
      left: 30px;*/
      height: 130px;
      width: 190px;
      position: absolute;
      top: 140px;
      left: 41px;
  }

  #bus {
    height: 200px;
    position: absolute;
    left: 180px;
    top: 65px;
  }
}


/*button#navbarDropdown.avatar.dropdown-toggle {
  background-color: transparent !important;
  border: none;
  margin-left: -50px !important;
}*/
