.contact-content {
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  min-height: calc(100vh - 163.99px);
}

.left-part {
  width: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 88px 0px;
}

.icon-and-text-contact {
  display: flex;
}

.icon-and-text-contact p {
  font-size: 18px;
  margin-left: 20px;
}

h2 {
  font-size: 45px;
  font-weight: 600;
}

.far.fa-envelope {
  font-size: 40px;
  margin-top: 5px;
}

.fas.fa-phone {
  font-size: 40px;
}

.right-part {
  width: 50%;
  background-image: url("../images/background-nous-contacter.jpg");
  background-size: cover;
  display: grid;
  align-items: center;
}

.right-part-reservation{
  background-image: url("../images/background-reservation.jpg") !important;
}

.contact-form {
  /*display: grid;*/
/*  justify-content: center;
  align-items: center;*/
  margin: 15px auto;
  width: 53%;
  min-height: 80%;
  background-color: #E5E5E5;
  border-radius: 22px;

}

form {
  margin-top: 13%;
  min-height: 80%;
}

 #form-title {
  width: 80%;
  margin: 46px auto;
  font-weight: 600;
  font-size: 21px;
 }

input {
  width: 80%;
  margin-bottom: 15px;
  background-color: #E5E5E5;
  display: grid;
  margin: 28px auto;
  border: none;
  border-bottom: solid;
  border-bottom-style: ridge;
}

textarea {
  width: 80%;
  margin-bottom: 15px;
  background-color: white;
  display: grid;
  margin: 3px auto;
  border-style: ridge !important;
  height: 160px;
}

#message-title {
  width: 80%;
  margin: auto;
  font-weight: 600;
}

#button-input {
  border: none !important;
  background-color: #ABABAB;
  width: 33% !important;
  border-radius: 3px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 6px;
  font-weight: 600;
  align-items: center;
}

#button-input:hover {
  opacity: 0.8;
}

@media(max-width: 1000px) {
  #button-input {
    font-size: 30px;
    padding: 20px 50px;
  }
}


/*MEDIA QUERIES MOBILE*/

@media(max-width: 1000px) {
  .contact-content {
  display: grid;
  }
  .contact-form {
    width: 80%;
    min-height: 59%;
    margin-top: 65px;
    margin-bottom: 65px;
  }
  textarea{
    height: 459px;
  }
  #button-input{
    margin: 50px auto;
  }
  .left-part {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin: 39px 0px 78px 0px;
  }
  .call-us {
    margin-bottom: 18px;
  }
  .call-us-reservation{
    margin-bottom: 20px !important;
  }
  .right-part {
    width: 100%;
  }
  p#form-title {
    font-size: 30px;
  }
  input {
    font-size: 30px;
  }
  p#message-title{
    font-size: 30px;
  }
  textarea {
    font-size: 30px;
  }
}


/*ONLY FOR BOOKING CSS*/

.date-reservation {
  width: 80%;
  display: flex;
  margin: 0 auto;
}

p#message-title-date {
  width: 0;
  margin: auto auto auto 0;
  font-weight: 600;
}

input.date-reservation-input{
  border-bottom: none;
  display: flex;
  width: fit-content;
  margin-right: 0;
}

@media(max-width: 1000px) {
  input.date-reservation-input {
    font-size: 30px;
    margin-right: auto;
    margin-left: 0;
  }
  p#message-title-date {
    font-size: 30px;
  }
}

button#navbarDropdown.avatar.dropdown-toggle {
  background-color: transparent !important;
  border: none;
}
