.contact-content {
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  height: calc(100vh - 163.99px);
}

.left-part {
  width: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 88px 0px;
}

.icon-and-text-contact {
  display: flex;
}

.icon-and-text-contact p {
  font-size: 18px;
  margin-left: 20px;
}

h2 {
  font-size: 45px;
  font-weight: 600;
}

.far.fa-envelope {
  font-size: 40px;
  margin-top: 5px;
}

.fas.fa-phone {
  font-size: 40px;
}

.right-part {
  width: 50%;
  background-image: url("../images/background-nous-contacter.jpg");
  background-size: cover;
  display: grid;
  align-items: center;
}

.contact-form {
  /*display: grid;*/
/*  justify-content: center;
  align-items: center;*/
  margin: 15px auto;
  width: 63%;
  height: 70%;
  background-color: #E5E5E5;
  border-radius: 22px;

}

form {
  margin-top: 20%;
  height: 80%;
}

input {
  width: 80%;
  margin-bottom: 15px;
  background-color: #E5E5E5;
  display: grid;
  margin: 28px auto;
  border: none;
  border-bottom: solid;
  border-bottom-style: ridge;
}

#message-input {
  border-style: ridge !important;
  height: 42%;
}

#message-title {
  width: 80%;
  margin: auto;
}

#button-input {
  border: none !important;
}

::placeholder {
  /*align-items: initial !important;*/
  /*FIND A SOLUTION*/
}

