.nav-item a {
  color: white !important;
}


.background-content {
  background-image:url("../images/paris1.png");
  background-size: cover;
  height: 100vh;
  background-position: 50% 100%;
}

.content {
  height: 50vh;
  display: grid;
  align-items: center;
  justify-content: center;
  /*  margin top ok pour tous les appareils ?*/
  margin-top: 90px;
}

.logo-slogan {
  margin: auto;
}

.slogan {
  color: white;
  font-size: 12px;
  font-family: 'Source Sans Pro';
}

.presentation {
  color: white;
  font-size: 18px;
  font-family: 'Source Sans Pro';
}


.img-banner {
  height: 56px;
/*  margin left ok pour tous les appareils ?*/
  margin-left: 28%;
}

.call-to-action-about-us {
  color: black;
  font-family: 'Open Sans';
  background-color: #ABABAB;
  width: fit-content;
  padding: 7px;
  border-radius: 5px;
  margin: auto;
}

.call-to-action-about-us:hover {
  text-decoration: none !important;
  color: black !important;
  background-color: #a8a6a6;
  font-size: 16.5px;
}






.clients p {
  font-family: 'Source Sans Pro';
  width: 80%;
  margin: auto;
  padding-top: 55px;
  padding-left: 17px;
}

.clients {
  height: 250px;
/*  width: 90%;*/
  margin: auto;
}

.logos {
  height: 100%;
  width: 80%;
  margin: auto;
  margin-top: -50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#saint-laurent {
  height: 50px;
  width: 150px;
}

#le-monde {
  height: 42px;
  width: 140px;
}

#chanel {
  height: 50px;
  width: 90px;
}

#accor {
  height: 70px;
  width: 140px;
  margin-top: -18px;
}

#regus {
  width: 100px;
  margin-top: -7px;
}

#cartier{
  height: 110px;
  width: 140px;
  margin-top: -17px;
  margin-left: -30px;
}
