.nav-item a {
  color: black !important;
}

.dropdown-nav a {
  color: black !important;
}

/*button#navbarDropdown {
  color: black;
  background-color: transparent !important;
  border: none;
  margin-left: -50px !important;
}*/

/*button#navbarDropdown.avatar.dropdown-toggle {
  background-color: transparent !important;
  border: none;
}
*/
.background-content {
  background-image: url("../images/pariis.jpeg");
  background-size: cover;
  height: 100vh;
  /*background-position: 50% 47%;*/
/*  background-position: 29% 30%;*/
}

@media (max-device-width: 660px)  {
  .background-content {
    height: 80vh;
  }
/*  .all-page {
    height: 100vh;
  }*/
}


.content {
  height: 50vh;
  display: grid;
  align-items: center;
  justify-content: center;
  /*  margin top ok pour tous les appareils ?*/
  /*margin-top: 90px;*/
  margin-top: 30px;
}

.logo-with-driving-paris{
  margin: auto;
  width: fit-content;
}

.logo-slogan {
  margin: auto;
}

.driving-paris-logo {
  color: black;
  font-size: 12px;
  font-family: 'Audio wide', sans-serif;
  letter-spacing: 8px;
  margin-left: 2px;
  width: fit-content;
}


.slogan {
  color: black;
  font-family: Audiowide, sans-serif;
  font-size: 26px;
  line-height: 51px;
  text-align: center;
}


.presentation {
  color: black;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  line-height: 25px;
  width: fit-content;
/*  margin: auto;*/
    margin: 0 auto;
}


.img-banner {
  /*height: 56px;*/
  /*  margin left ok pour tous les appareils ?*/
  /*margin-left: 26%;*/
  height: 140px;
}

.call-to-action-about-us {
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  background-color: #ABABAB;
  width: fit-content;
  padding: 11px 35px;
  border-radius: 5px;
  /*margin: auto;*/
  margin: 15% auto 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.call-to-action-about-us:hover {
  text-decoration: none !important;
  color: black !important;
  background-color: #b2b0b0;
  font-size: 14.5px;
}

@media (max-device-width: 660px)   {
  .call-to-action-about-us {
    font-size: 30px;
    padding: 20px 50px;
    margin: 70% auto 0;
  }
  .call-to-action-about-us:hover {
    font-size: 30.5px;
  }
}


.clients p {
  font-family: 'Audiowide', cursive;
  font-size: 16px;
  width: 80%;
  margin: auto;
  padding-top: 55px;
  padding-left: 17px;
  margin-bottom: 20px;
}

.clients {
  height: 250px;
/*  width: 90%;*/
  margin: auto;
  margin-bottom: 50px;
}

@media (max-device-width: 660px)  {
  p.slogan {
    font-size: 35px;
  }
  p.presentation {
    font-size: 25px;
  }
  .clients p {
    font-size: 24px;
    font-weight: 600;
    padding-left: 30px;
  }
/*  .img-banner {
    margin-left: 36%;
  }*/
  .clients {
    margin-bottom: 100px;
  }
  .content {
    height: 42vh;
  }

}



.logos {
  height: 100%;
  width: 80%;
  margin: auto;
  margin-top: -50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-device-width: 660px)   {
  .logos {
  width: 100%;
  height: 17vh;
  }
  .clients p {
    width: 100%;
  }
}



@media (max-width: 1000px)   {
  .logos {
  width: 100%;
  }
  .clients p {
    width: 100%;
  }
}



/*#saint-laurent {
  height: 40px;
  width: 150px;
}*/

#saint-laurent{
  height: 36px;
  width: 135px;
}

/*#le-monde {
  height: 32px;
  width: 140px;
}*/

#le-monde{
  height: 30px;
  width: 128px;
  margin-bottom: 8px;
}

/*#chanel {
  height: 50px;
  width: 90px;
}*/

#chanel{
  height: 47px;
  width: 75px;
}

/*#accor {
  height: 70px;
  width: 140px;
  margin-top: -18px;
}*/

#accor{
  height: 66px;
  width: 133px;
  margin-top: -18px;
}

/*#viparis {
  width: 170px;
  margin-top: -7px;
  height: 52px;
}
*/

#viparis{
  width: 140px;
  height: 40px;
  margin-bottom: 6px;
}

/*#cartier{
  height: 46px;
  width: 140px;
  margin-top: -17px;
}*/

#cartier{
  height: 36px;
  width: 105px;
  margin-bottom: 11px;
}


@media (max-device-width: 660px)   {
  #le-monde {
    height: 32px;
    width: 140px;
    margin-bottom: 15px;
  }
  #accor {
    height: 60px;
    width: 140px;
    margin-top: -18px;
  }
  #cartier{
    height: 40px;
    width: 120px;
  }
}

