.nav-item a {
  color: white !important;
}

.dropdown-nav a {
  color: black !important;
}

button#navbarDropdown {
  color: white;

}

button#navbarDropdown.avatar.dropdown-toggle {
  background-color: transparent !important;
  border: none;
}

.background-content {
  background-image: linear-gradient(180.36deg, #000000 0.29%, rgba(0, 0, 0, 0) 101.37%), url("../images/paris1.png");
  background-size: cover;
  height: 100vh;
  background-position: 50% 100%;
}

@media(max-width: 1000px) {
  .background-content {
    height: 80vh;
  }
  .all-page {
    height: 100vh;
  }
}

.content {
  height: 50vh;
  display: grid;
  align-items: center;
  justify-content: center;
  /*  margin top ok pour tous les appareils ?*/
  margin-top: 90px;
}

.logo-slogan {
  margin: auto;
}

.slogan {
  color: white;
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
}

.presentation {
  color: white;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}


.img-banner {
  height: 56px;
/*  margin left ok pour tous les appareils ?*/
  margin-left: 28%;
}

.call-to-action-about-us {
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  background-color: #ABABAB;
  width: fit-content;
  padding: 11px 35px;
  border-radius: 5px;
  margin: auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.call-to-action-about-us:hover {
  text-decoration: none !important;
  color: black !important;
  background-color: #b2b0b0;
  font-size: 14.5px;
}

@media(max-width: 1000px) {
  .call-to-action-about-us {
    font-size: 30px;
    padding: 20px 50px;
  }
  .call-to-action-about-us:hover {
    font-size: 30.5px;
  }
}



.clients p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  width: 80%;
  margin: auto;
  padding-top: 55px;
  padding-left: 17px;
}

.clients {
  height: 250px;
/*  width: 90%;*/
  margin: auto;
  margin-bottom: 25px;
}

.logos {
  height: 100%;
  width: 80%;
  margin: auto;
  margin-top: -50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media(max-width: 1000px) {
  .logos {
  width: 100%;
  height: 20vh;
  }
  .clients p {
    width: 100%;
  }
}

#saint-laurent {
  height: 40px;
  width: 150px;
}

#le-monde {
  height: 32px;
  width: 140px;
}

#chanel {
  height: 50px;
  width: 90px;
}

#accor {
  height: 70px;
  width: 140px;
  margin-top: -18px;
}

#regus {
  width: 100px;
  margin-top: -7px;
  height: 60px;
}

#cartier{
  height: 60px;
  width: 140px;
  margin-top: -17px;
  margin-left: -30px;
}
