h3 {
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}


/*banner-image*/

.paris-img{
  background-size: cover;
  height: 550px;
}

.paris-img.paris1 {
  background-image:url("../images/paris1-services.png");
  background-position: 50% 60%;
}

.paris-img.paris2 {
  background-image:url("../images/paris2-services.png");
  background-position: 50% 50%;
}


/*services cards part*/

.services-container h3 {
  margin-top: 40px;
}

.services-container {
  margin-bottom: 120px;
}

.container {
  width: 65%;
  padding: 0 !important;;
}

.col {
  display: flex;
  justify-content: center;
}

.transferts-aeroport{
  background-image: linear-gradient(179.91deg, #000000 8.6%, rgba(0, 0, 0, 0) 99.93%), url("../images/transferts-aeroport-gare.jpg");
  background-size: cover;
  height: 300px;
  width: 230px;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 50px;
  display: flex;
  align-items: center;
}



.transports-avec-chauffeur-prive {
  background-image: linear-gradient(179.91deg, #000000 8.6%, rgba(0, 0, 0, 0) 99.93%), url("../images/transports-avec-chauffeur-prive.jpg");
  background-size: cover;
  height: 300px;
  width: 230px;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.courses-longues-distances {
  background-image: linear-gradient(179.91deg, #000000 8.6%, rgba(0, 0, 0, 0) 99.93%), url("../images/courses-longues-distances.jpg");
  background-size: cover;
  height: 300px;
  width: 230px;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.evenements-sur-mesure {
  background-image: linear-gradient(179.91deg, #000000 8.6%, rgba(0, 0, 0, 0) 99.93%), url("../images/evenements-sur-mesure.jpg");
  background-size: cover;
  height: 300px;
  width: 230px;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.conciergerie {
  background-image: linear-gradient(179.91deg, #000000 8.6%, rgba(0, 0, 0, 0) 99.93%), url("../images/conciergerie.jpg");
  background-size: cover;
  height: 300px;
  width: 230px;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.rdv-professionnels {
  background-image: linear-gradient(179.91deg, #000000 8.6%, rgba(0, 0, 0, 0) 99.93%), url("../images/rdv-professionnels.jpg");
  background-size: cover;
  height: 300px;
  width: 230px;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.card-service:hover{
  opacity: 0.3;
}

/*new text when hover*/
.text-hidden {
  display: none;
}

.card-service p {
  font-size: 26px;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}


/*caroussel */
.cars-div-img {
  height: 400px;
}

#berline {
  height: 400px;
  width: 400px;
}

#prestige{
  height: 320px;
  width: 400px;
}

#van{
  height: 320px;
  width: 450px;
}

#carouselExampleControls {
  width: 80%;
  margin: 50px auto 100px auto;
}

.carousel-inner {
  width: 70%;
  margin: auto;
}

.car-img-and-prices {
  display: flex;
  justify-content: space-around;
}

.car-prices {
  display: flex;
  align-items: center;
}

.cars-title {
  margin-bottom: 50px;
}

.fas.fa-chevron-left{
  color: black;
  font-size: 23px;
}

.fas.fa-chevron-right{
  color: black;
  font-size: 23px;
}


button#navbarDropdown.avatar.dropdown-toggle {
  background-color: transparent !important;
  border: none;
}
