h3 {
  font-size: 24px;
  font-family: 'Source Sans Pro';
  text-align: center;
}


/*banner-image*/

.paris-img{
  background-size: cover;
  height: 550px;
}

.paris-img.paris1 {
  background-image:url("../images/paris1-services.png");
  background-position: 50% 60%;
}

.paris-img.paris2 {
  background-image:url("../images/paris2-services.png");
  background-position: 50% 50%;
}


/*services cards part*/

.services-container h3 {
  margin-top: 40px;
}

.services-container {
  margin-bottom: 120px;
}

.container {
  width: 60%;
  padding: 0 !important;;
}

.col {
  display: flex;
  justify-content: center;
}

.card-service {
  background-image:url("../images/paris1-services.png");
  height: 300px;
  width: 230px;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.card-service p {
  font-size: 26px;
  color: white;
  font-family: 'Source Sans Pro';
  text-align: center;
}


/*caroussel */


#berline {
  height: 400px;
  width: 400px;
}

#prestige{
  height: 320px;
  width: 400px;
}

#van{
  height: 320px;
  width: 450px;
}

#carouselExampleControls {
  width: 80%;
  margin: 50px auto 100px auto;
}

.carousel-inner {
  width: 70%;
  margin: auto;
}

.car-img-and-prices {
  display: flex;
  justify-content: space-around;
}

.car-prices {
  display: flex;
  align-items: center;
}

.cars-title {
  margin-bottom: 50px;
}
